<h1>Create Customer</h1>
<%= form_with url: chatbot_create_customer_path(format: :html), method: :post, local: true do |form| %>
  <div>
    <%= form.label :nickname %>
    <%= form.text_field :nickname, name: 'customer[nickname]' %>
  </div>
  <div>
    <%= form.label :profile_url %>
    <%= form.text_field :profile_url, name: 'customer[profile_url]' %>
  </div>
  <div>
    <%= form.submit "Create Customer" %>
  </div>
<% end %>
