<div class="w-[clamp(300px,90%,750px)] mx-auto pt-36  ">
  <div class="grid grid-cols-6 text-base font-semibold tracking-[1px] text-gray-600 text-center">
    <%= render 'status_tab'%>
  </div>
  <h1 class="text-2xl  pt-10 border-b-[1px] border-b-gray-300 pb-4">Orders</h1>
  <% if @orders&.present? %>
    <% @orders&.each do |order| %>
      <div class="bg-white  border-b-[1px] border-b-gray-300 py-6 ">
        <div class = 'flex items-center justify-between'>
          <h2 class="text-lg font-normal">Order #<%= order.id %></h2>
          <p class="text-[12px] bg-[rgb(185,189,195)] opacity-90  py-1 px-2 rounded-sm  text-gray-100 uppercase font-thin tracking-[2px]"><strong>
              <%= order.status %>
            </strong> </p>
        </div>
        <% order.order_items.each do |order_item| %>
          <ul class="flex items-center gap-4 py-2 ">
            <li class=" ">
              <% if order_item.product.image.attached? %>
                <%= image_tag url_for(order_item.product.image), class: 'w-14 h-14 object-cover rounded-md' %>
              <% else %>
                <%= image_tag 'default_image.jpg', class: 'w-14 h-14 object-cover  rounded-md' %>
              </li>
            <% end %>
            <li class="text-lg text-gray-500 mr-2">
              <li>
                <span class = 'block '>
                  <%= order_item.product.name %>
                </span>
                <span>
                  <%= order_item.quantity %>
                </span> x 
                <span class = 'mr-2'>
                  <%= number_to_currency(order_item.product.price) %>
                </span>
                <strong>
                  <%= number_to_currency(order_item.product.price * order_item.quantity) %>
                </strong>
              </li>
            </li>
          </ul>
        <% end %>
        <p class="  pt-3 ">
          <span class = 'pl-28 text-lg'>Total</span>
          <span class ='pl-8 text-xl font-bold'>
            <%= number_to_currency(order.total) %>
          </span>
        </p>
        <div class = 'text-sm pl-24 py-6 flex items-center justify-between gap-10'>
          <div class = 'flex items-center gap-10'>
            <p class = 'text-gray-600'>
              <span class = 'uppercase  block mb-2 font-semibold '>
                Order Placed
              </span>
              <span>
                <% date_created = order.created_at + 8.hours%>
                <%= date_created.strftime("%B %d, %Y %H:%M:%S %p")  %>
              </span>
            </p>
            <p class = 'text-gray-600'>
              <span class = 'uppercase  block mb-2 font-semibold text-gray-600s'>
                Last Update
              </span>
              <span>
                <% date_updated = order.updated_at + 8.hours%>
                <%= date_updated.strftime("%B %d, %Y %H:%M:%S %p")  %>
              </span>
            </p>
          </div>
          <div>
            <% if order.created_at >= 12.hours.ago && order.status != 'cancelled' %>
              <button id = "refund_modal_<%=order.id%>" class = 'text-sm font-semibold text-gray-50 bg-red-500 hover:bg-red-700 px-4 py-2 rounded-md' >Cancel Order & Refund</button>
            <%end %>
          </div>
        </div>
      </div>
      <div  id = "refund_order_container_<%= order.id %>" class=" fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-96 h-auto bg-gray-50 shadow-lg z-[120] p-6 rounded-lg hidden">
        <h1 class = 'text-2xl  text-center'>
          Refund Order
        </h1>
        <button id="close_refund_modal_<%= order.id %>" class="absolute top-6 right-6 text-lg font-bold"><i class="fa-solid fa-xmark"></i></button>
        <%= form_tag refund_customer_client_refund_order_path(order), method: :post do %>
          <div class="mb-4">
            <%= label_tag :amount, "Refund Amount", class: "block text-gray-700 font-bold mb-2" %>
            <%= number_field_tag :amount,  order.total, readonly:true, class: "w-full p-2 border rounded", placeholder: 'Amount'%>
          </div>
          <div class="mb-4">
            <%= label_tag :reason, "Reason for Refund", class: "block text-gray-700 font-bold mb-2" %>
            <%= select_tag :reason, options_for_select([
        ['Select Reason', ''],
        'duplicate',
        'fraudulent',
        'others',
        'requested_by_customer'
      ]), class: "w-full p-2 border rounded" %>
          </div>
          <div class="mb-4">
            <%= label_tag :notes, "Additional Notes", class: "block text-gray-700 font-bold mb-2" %>
            <%= text_area_tag :notes, nil, rows: 4, class: "w-full p-2 border rounded", placeholder: 'Enter your message'%>
          </div>
          <%= submit_tag 'Confirm', class: "w-full bg-blue-500 text-white p-2 rounded mt-4 hover:bg-blue-600" %>
        <% end %>
      </div>
    <% end %>
  <%else%>
    <div class='w-full h-[62vh] text-gray-400 flex items-center justify-center'>
      <p>No orders available</p>
    </div>
  <%end%>
</div>
<div class = ' overlay hidden'>
</div>
<script>
  document.addEventListener('turbo:load', function(){

    const refund_modals = document.querySelectorAll('[id^=refund_modal_]');
    const overlay = document.querySelector('.overlay');
    console.log(refund_modals)
    refund_modals.forEach(refund_modal => {
      const orderId = refund_modal.id.split('_')[2];
       const refund_order_container = document.getElementById(`refund_order_container_${orderId}`);
       const close_modal = document.getElementById(`close_refund_modal_${orderId}`);
       console.log(orderId,close_modal,refund_order_container)

        refund_modal.addEventListener('click', function(){
          refund_order_container.classList.remove('hidden')
          overlay.classList.remove('hidden')

       })
        close_modal.addEventListener('click', function(){
            refund_order_container.classList.add('hidden')
            overlay.classList.add('hidden')

        })
    });


  })
</script>