<!-- customer_client/chatbots/index.html.erb -->
<h1>Chatbot</h1>

<h2>Send Message</h2>
<%= form_with url: customer_client_send_message_path, method: :post do |form| %>
  <%= form.text_field :message, placeholder: "Enter your message" %>
  <%= form.submit "Send Message" %>
<% end %>

<h2>Chat Messages</h2>
<% if @get_messages.nil? || @get_messages.empty? %>
  <p>No messages yet.</p>
<% else %>
  <% @get_messages["messages"].each do |message| %>
    <li>
      <%= message["user"]["nickname"] %> <br/>
      <%= message["message"] %>
    </li>
  <% end %>
<% end %>
