card
<h1>Card Payment</h1>
<p>Please enter your card details:</p>
<%= form_tag(confirm_customer_client_checkout_index_path, method: :post) do %>
  <div>
    <%= label_tag :number, 'Card Number' %>
    <%= text_field_tag :number %>
  </div>
  <div>
    <%= label_tag :exp_month, 'Expiration Month' %>
    <%= text_field_tag :exp_month %>
  </div>
  <div>
    <%= label_tag :exp_year, 'Expiration Year' %>
    <%= text_field_tag :exp_year %>
  </div>
  <div>
    <%= label_tag :cvc, 'CVC' %>
    <%= text_field_tag :cvc %>
  </div>
  <%= hidden_field_tag :payment_method, 'card' %>
  <%= submit_tag 'Confirm Payment' %>
<% end %>
