<%= form_with url: update_address_customer_client_checkout_index_path, method: :post, local: false, id: 'address-form' do |f| %>
  <div class='mb-4'>
    <label for='address_select' class='block text-sm font-medium text-gray-700'>Select a previous address:</label>
    <%= select_tag 'address_id', options_from_collection_for_select(current_user.addresses, 'id', 'full_address') + options_for_select([['Enter New Address', 'new']], 'new'), class: 'block w-full p-2 border border-gray-400 rounded-md', id: 'address-select' %>
  </div>
  <div id='new-address-form' class='mb-4'>
    <div class='grid grid-cols-2 gap-4'>
      <%= hidden_field_tag 'address[email]', current_user.email %>
      <div>
        <div class='flex items-center'>
          <%= f.label :street, 'Street', class: 'block text-sm font-medium text-gray-700' %>
          <span class='text-[12px] text-gray-400'>(required)</span>
        </div>
        <%= f.text_field :street, name: 'address[street]', class: 'block w-full p-2 border border-gray-400 rounded-md', placeholder: 'Enter your Street' %>
      </div>
      <div>
        <div class='flex items-center'>
          <%= f.label :city, 'City/Town', class: 'block text-sm font-medium text-gray-700' %>
          <span class='text-[12px] text-gray-400'>(required)</span>
        </div>
        <%= f.text_field :city, name: 'address[city]', class: 'block w-full p-2 border border-gray-400 rounded-md', placeholder: 'Enter your City/Town' %>
      </div>
      <div>
        <div class='flex items-center'>
          <%= f.label :state, 'State/Province', class: 'block text-sm font-medium text-gray-700' %>
          <span class='text-[12px] text-gray-400'>(required)</span>
        </div>
        <%= f.text_field :state, name: 'address[state_or_province]', class: 'block w-full p-2 border border-gray-400 rounded-md', placeholder: 'Enter your State/Province' %>
      </div>
      <div>
        <div class='flex items-center'>
          <%= f.label :zip_code, 'ZIP Code', class: 'block text-sm font-medium text-gray-700' %>
          <span class='text-[12px] text-gray-400'>(required)</span>
        </div>
        <%= f.text_field :zip_code, name: 'address[zip_code]', class: 'block w-full p-2 border border-gray-400 rounded-md', placeholder: 'Enter your Zip Code' %>
      </div>
      <div>
        <div class='flex items-center'>
          <%= f.label :country, 'Country', class: 'block text-sm font-medium text-gray-700' %>
          <span class='text-[12px] text-gray-400'>(required)</span>
        </div>
        <%= f.text_field :country, name: 'address[country]', class: 'block w-full p-2 border border-gray-400 rounded-md', placeholder: 'Enter your Country' %>
      </div>
    </div>
  </div>
  <div>
    <div class='flex items-center'>
      <%= f.label :body, 'Order Comments', class: 'block text-sm font-medium text-gray-700' %>
      <span class='text-[12px] text-gray-400'>(optional)</span>
    </div>
    <%= f.text_area :body, name: 'comment[body]', class: 'block w-full p-2 border border-gray-400 rounded-md', placeholder: 'Your Comment' %>
  </div>
  <%= f.submit 'Continue', class: 'mt-4 inline-block px-4 py-2 bg-blue-600 text-white rounded-md' %>
<% end %>
