<%= form_with model: [@user, @address],  url: @user.new_record? || @address.new_record? ? owner_customer_addresses_path(@user) : owner_customer_address_path(@user,@address), local: true,data:{turbo: false} do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, value: @user.email%>
  </div>
  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code %>
  </div>
  <div class="field">
    <%= form.label :street, 'Street/Barangay' %>
    <%= form.text_field :street %>
  </div>
  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
  <div class="field">
    <%= form.label :state_or_province, 'State/Province' %>
    <%= form.text_field :state_or_province %>
  </div>
  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country %>
  </div>
  <div class="actions">
    <%= form.submit @address.new_record? ? "Create Address" : "Update Address" %>
  </div>
<% end %>
