<h1>Products</h1>
<% @products.each do |product| %>
  <div class="product">
    <h2><%= product.name %></h2>
    <p>Price: <%= number_to_currency(product.price) %></p>
    <%= form_with model: CartItem.new, url: customer_client_cart_items_path, local: true do |form| %>
      <%= form.hidden_field :product_id, value: product.id %>
      <%= form.number_field :quantity, value: 1, min: 1 %>
      <%= form.submit "Add to Cart" %>
    <% end %>
  </div>
<% end %>
<h1>Your Cart</h1>
<% if @cart.cart_items.any? %>
  <table>
    <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart.cart_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.product.price) %></td>
          <td><%= number_to_currency(item.product.price * item.quantity) %></td>
          <td>
            <%= button_to 'Remove', customer_client_cart_item_path(item), method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>Total: <%= number_to_currency(@cart.cart_items.sum { |item| item.product.price * item.quantity }) %></p>
  <div>
    <%= link_to 'Checkout',customer_client_checkout_index_path %>
    <%= link_to 'View Cart', customer_client_cart_index_path %>
  </div>
<% else %>
  <p>Your cart is empty.</p>
<% end %>