<div class="w-[clamp(300px,90%,800px)] mx-auto min-h-screen flex items-center justify-center">
  <div class="w-full bg-white p-8 rounded-lg shadow-[0_5px_10px_rgba(0,0,0,0.25)]">
    <h1 class="text-3xl text-center">
      <%= @user.new_record? ? 'Create New Customer' : 'Update Customer' %>
    </h1>
    <%= form_with model: @user, url: @user.new_record? ? owner_customers_path : owner_customer_path(@user), local: true, data: { turbo: false } do |form| %>
      <%= render 'shared/error', obj: @user %>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="mb-4">
          <%= form.label :firstname, class: "block text-gray-700 font-semibold" %>
          <%= form.text_field :firstname, class: "w-full p-2 border border-gray-300 rounded mt-2", placeholder: 'Enter your First Name' %>
        </div>
        <div class="mb-4">
          <%= form.label :lastname, class: "block text-gray-700 font-semibold" %>
          <%= form.text_field :lastname, class: "w-full p-2 border border-gray-300 rounded mt-2" , placeholder: 'Enter your Last Name' %>
        </div>
        <div class="mb-4">
          <%= form.label :email, class: "block text-gray-700 font-semibold" %>
          <%= form.email_field :email, class: "w-full p-2 border border-gray-300 rounded mt-2" , placeholder: 'Enter your Email Address' %>
        </div>
        <%= form.fields_for :address do |a| %>
          <div class="mb-4">
            <%= a.label :street, 'Street/Barangay', class: "block text-gray-700 font-semibold" %>
            <%= a.text_field :street, class: "w-full p-2 border border-gray-300 rounded mt-2" , placeholder: 'Enter your Street/Barangay' %>
          </div>
          <div class="mb-4">
            <%= a.label :city , 'City/Town', class: "block text-gray-700 font-semibold" %>
            <%= a.text_field :city, class: "w-full p-2 border border-gray-300 rounded mt-2" , placeholder: 'Enter your City/Town' %>
          </div>
          <div class="mb-4">
            <%= a.label :state_or_province, 'State/Province', class: "block text-gray-700 font-semibold" %>
            <%= a.text_field :state_or_province, class: "w-full p-2 border border-gray-300 rounded mt-2" , placeholder: 'Enter your State/Province' %>
          </div>
          <div class="mb-4">
            <%= a.label :zip_code, class: "block text-gray-700 font-semibold" %>
            <%= a.text_field :zip_code, class: "w-full p-2 border border-gray-300 rounded mt-2" , placeholder: 'Enter your Zip Code' %>
          </div>
          <div class="mb-4">
            <%= a.label :country, class: "block text-gray-700 font-semibold" %>
            <%= a.text_field :country, class: "w-full p-2 border border-gray-300 rounded mt-2" , placeholder: 'Enter your Country' %>
          </div>
        <% end %>
      </div>
      <div class="actions">
        <%= form.submit @user.new_record? ? "Create Customer" : "Update Customer", class: "w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>
  </div>
</div>
