<div class="w-full space-y-4 customers h-[75vh] overflow-x-hidden">
  <% if @users.present? %>
    <% @users.each do |user| %>
      <ul class = 'grid grid-cols-4 gap-4 items-center py-3 pr-3 border-b-gray-300 border-b-[1px]'>
        <li class="py-2 px-4 "><%= user.email %></li>
        <li class="py-2 px-4 "><%= user.firstname %></li>
        <li class="py-2 px-4 "><%= user.lastname %></li>
        <li class="py-2">
          <%= link_to 'Show', owner_customer_path(user), class: 'bg-green-500 text-white px-3 py-1 rounded hover:bg-green-600' %>
          <%= link_to 'Edit',  edit_owner_customer_path(user), class: 'bg-yellow-500 text-white px-3 py-1 rounded hover:bg-yellow-600' %>
          <%= link_to 'Delete', owner_customer_path(user), data: {turbo_method: :delete,turbo_confirm: 'Are you sure you want to delete this user?' }, class: 'bg-red-500 text-white px-3 py-1 rounded hover:bg-red-600' %>
        </li>
      </ul>
    <% end %>
  <%else%>
    <%= render 'shared/no_available', description: 'No Customer'%>
  <%end%>
</div>
