<div class="w-[clamp(300px,90%,1000px)] mx-auto min-h-screen flex flex-col items-center justify-center">
  <div class="w-full flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold"><%= @user.firstname %> <%= @user.lastname %></h1>
    <%= link_to 'Edit', edit_owner_customer_path(@user), class: 'bg-yellow-500 text-white px-4 py-2 rounded shadow hover:bg-yellow-600' %>
  </div>
  <div class="w-full grid gap-6 items-start">
    <!-- User Details -->
    <div class="flex flex-col justify-start items-start space-y-4 border rounded-lg p-4 shadow-md">
      <h2 class="text-2xl font-bold text-gray-700">User Details</h2>
      <p class="text-gray-600"><strong>Email:</strong> <%= @user.email %></p>
      <p class="text-gray-600"><strong>Street/Barangay:</strong> <%= @user.address.street %></p>
      <p class="text-gray-600"><strong>City/Town:</strong> <%= @user.address.city %></p>
      <p class="text-gray-600"><strong>State/Province:</strong> <%= @user.address.state_or_province %></p>
      <p class="text-gray-600"><strong>Zip Code:</strong> <%= @user.address.zip_code %></p>
      <p class="text-gray-600"><strong>Country:</strong> <%= @user.address.country %></p>
    </div>
    <div class="w-full mt-6 flex justify-start">
      <%= link_to 'Back to Customers', owner_customers_path, class: 'bg-blue-500 text-white px-4 py-2 rounded shadow hover:bg-blue-600' %>
    </div>
  </div>
