<!DOCTYPE html>
<html>
  <head>
    <title>Online Store App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/4a45b90c57.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <% unless controller_name == 'devise/sessions' && action_name == 'new' || controller_name == 'devise/registrations' && (action_name == 'new' || action_name == 'create') %>
      <% unless admin_signed_in?%>
        <%= render 'shared/header' %>
      <%end%>
    <% end %>
    <div class="absolute top-[150px] right-10 translate-x-0 translate-y-[-40%] w-[clamp(300px,90%,550px)] z-10">
      <% unless notice.blank? %>
        <div class="flex justify-between items-center bg-green-200 text-green-900 px-4 py-3 rounded-md flex-grow-1 w-full self-start show">
          <p class="notice"><%= notice %></p>
          <button type="button" class="close-button" onclick="this.parentNode.style.display = 'none';">×</button>
        </div>
      <% end %>
      <% unless alert.blank? %>
        <div class="flex justify-between items-center bg-red-200 text-red-900 px-4 py-3 rounded-md flex-grow-1 w-full self-start show">
          <p class="alert"><%= alert %></p>
          <button type="button" class="close-button" onclick="this.parentNode.style.display = 'none';">×</button>
        </div>
      <% end %>
    </div>
    <%if admin_signed_in?%>
      <div class = 'grid grid-cols-[0.85fr,3fr] gap-6'>
        <%= render 'layouts/admin_side_bar' %>
      <%end %>
      <%= yield %>
    </div>
    <%= render 'layouts/modal', cart_items: @cart_items %>
    <script>
      !function(w, d, s, ...args){
        var div = d.createElement('div');
        div.id = 'aichatbot';
        d.body.appendChild(div);
        w.chatbotConfig = args;
        var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s);
        j.defer = true;
        j.type = 'module';
        j.src = 'https://aichatbot.sendbird.com/index.js';
        f.parentNode.insertBefore(j, f);
      }(window, document, 'script', '718E72C3-0E5A-4E35-B1C9-34CBF90924D2', 'onboarding_bot', {
        apiHost: 'https://api-cf-us-3.sendbird.com',
      });
    </script>
  </body>
</html>
